body{

    background-color: #4a62d8;
}


button {
    background-color: #76d0c0;
    color: #faf5e4;
    border: none;
    padding: 4px 8px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}
.nav-bar{

    display: flex;
    justify-content: center;
    
}
h1 {
    text-align: center;
}
h2 {

    text-align: center;
}

.flex-container {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 90%;
        margin: 50px auto;
        padding: 20px;
        background-color: #faf5e4;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.form {

   display: flex;
   justify-content: center;
}

.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }




